<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/index.css">
</head>
<body>
    <h1>STRONA GŁÓWNA</h1>
    <h2>{{pageTitle}}</h2>
    <h3>{{subTitle}}</h3>
    <h4>{{subSubTitle}}</h4>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ol>


<form action="">


<input type="text" id="input">

<button id ="btn">Submit</button>


<p id="text"></p>
</form>

<script src="./../js/func.js"></script>

</body>
</html>